.heading {
    background-color: bisque;
}

ul {
    border: 1px black solid;
    padding: 20px;
}

ul li {
    color: blueviolet;
    font-weight: bolder;
}

ul li:hover {
    background-color: aqua;
}